body {
   font-family: "Lucida Grande", Helvetica, Arial, Sans-Serif;
   font-size: 0.9em;
   color: #335;
   background-color: #f3f3f9
}

a {
   color: #337788;
}
a.pending {
	color: red
}
a.url {
	color: gray
}

.content {
	margin: 20px auto;
	width: 90%;
   border-right: 1px solid black;
   border-left: 1px solid black;
   border-bottom: 1px solid black;
   border-top: 1px solid black;
   padding: 10px 10px 10px 10px;
   background-color: white;
   margin-bottom: 10px;
   padding-left: 50px;
   padding-right: 50px
}

form {
   display: inline
}
